{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | CES 2021" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "VMLY&R @ CES 2021",
  	"titleAbove": "",
  	"titleBelow": "JANUARY 11-14, 2021",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/x-bold.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": []
  } %}
  	<div id="globalCapabilties" class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-7 pb-2">
	  	<h3 class="type-headlineSection mb-2">CES 2021 OVERVIEW</h3>
	  	<p class="mb-2"><strong>Dates:</strong> January 11-14, 2021</br><strong>Location:</strong> On-line</p>
	  	<p>Welcome to 2021! The beginning of each new year typically means it's time to prepare for the annual Consumer Electronics Show in Las Vegas. The CES show offers a glimpse at new tech and services that will play a role in consumer behavior in the year ahead. Product manufactures and industry affiliates from around the world meet, share and collaborate during this key industry event. This year, rather than hosting nearly 250k attendees in Las Vegas during a global pandemic, the CTA has coordinated the first ever fully digital CES event. </p>
	  </div>
	  <div class="col-12 md:col-4 md:col-offset-1">
	  	<p class="uppercase mb-1 font-bold">KEY TOPICS TO FOLLOW</p>
	  	<p class="color-onyx mb-1">To help navigate the numerous topics and sessions at CES, VMLY&R has curated a list of five major themes that we will be following:</p>
	  	<ul class="pl-2 type-s color-onyx">
	  		<li>Commerce</li>
	  		<li>Data</li>
	  		<li>Content</li>
	  		<li>Healthcare</li>
	  		<li>Sustainability</li>
	  	</ul>
	  </div>
	</div>
	<div id="agenda" class="row row--gutter-wide-lg mx-0 px-1 py-3">
		 <div class="col-12">
			<h3 class="type-headlineSection mb-2">AGENDA</h3>
			<p class="mb-3">The CES 2021 agenda offers a wealth of opportunity to hear from industry leaders on these topics. Below is a list of recommended conference sessions. Fortunately, most of these events are programmed into 30- minute blocks. CES announced the programming will be available for 30 days after the event. This offers an opportunity to revisit interesting sessions and to watch at times that are most convenient for our own schedules. Here are some of our recommended picks below.</p>
			<h5 class="type-headlineSection my-2">Monday, January 11th, 2021</h5>
			<div class="row">
			<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
				<p class="uppercase font-bold color-cyan">Verizon Keynote</p>
				<hr class="hr__dashed my-1" />
				<p class="type-meta mb-1">5:30-6:30pm CST US</p>
				<!-- <p class="color-onyx-80">Verizon Chairman & CEO Hans Vestberg opens CES 2021 discussing 5G technology, and it’s role in the 21st century.</p> -->
				<p><a href="https://digital.ces.tech/sessions/e643a52d-bda6-491c-9ba4-be25dd228c47?source=sessions" class="type-sm color-blue-light">Read More</a></p>
			</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Tuesday, January 12th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The 2021 Customer Engagement Playbook</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">6:30-7:00am CST US</p>
					<!-- <p class="color-onyx-80">2021 welcomes a host of tech advances and new restrictions. Hear from savvy players on how they are drawing customer engagement playbooks for 2021.</p> -->
					<p><a href="https://digital.ces.tech/sessions/1059f4a5-8a8e-4f96-b4ae-e85eb57b650e?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail Trends: The New Shopper</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/465107e5-f403-4f1c-9752-9ac470e996ef?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Trust and the Impact of AI on Healthcare</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Experts explore the broad impact of trust on the growth and acceptance of AI in healthcare and discuss what must be considered to realize the promise of AI.</p> -->
					<p><a href="https://digital.ces.tech/sessions/2bac6d54-db8a-4cc9-8124-745b3badf5ce?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Keys to Success: How D&I Helped Us Survive 2020</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Hear from top tech chief diversity officers on how diversity and inclusion is solidifying a role as an essential tool in creating innovative solutions for key business challenges.</p> -->
					<p><a href="https://digital.ces.tech/sessions/bf1745f5-d0fb-4e86-a2e0-35fef83f7331?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Essential Technologies for the New Health Revolution</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CST US</p>
					<!-- <p class="color-onyx-80">Join us for a provocative discussion on telemedicine’s rapid growth, how it handled the challenges it was confronted with, what we’ve learned so far, and what the future trajectory of the industry looks like.</p> -->
					<p><a href="https://digital.ces.tech/sessions/ef3e1d61-9fe0-https:/digital.ces.tech/sessions/ef3e1d61-9fe0-4974-b33d-1f8266aa093f?source=sessions-b33d-1f8266aa093f?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Telemedicine Skyrockets to Mainstream</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:45-1:15pm CST US</p>
					<!-- <p class="color-onyx-80">Join us for a provocative discussion on telemedicine’s rapid growth, how it handled the challenges it was confronted with, what we’ve learned so far, and what the future trajectory of the industry looks like.</p> -->
					<p><a href="https://digital.ces.tech/sessions/dc9ada30-6185-4053-b17e-90bad0f68d96?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Wednesday, January 13th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">CMO Moves</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CT US</p>
					<!-- <p class="color-onyx-80">2021 welcomes a host of tech advances and new restrictions. Hear from savvy players on how they are drawing customer engagement playbooks for 2021.</p> -->
					<p><a href="https://digital.ces.tech/sessions/17d42df3-9195-4fe8-9935-8da61013c50e?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Digital Health: Business Growth and Opportunities</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">7:15-7:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/29cec86f-a381-47fe-abb2-12434e249cac?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Can Technology Answer the Call of Societal Ethos</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">7:15-7:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="7:15-7:45am CT" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Next-gen Technologies to Transform Healthcare</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">8:45-9:15am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/61dfa241-89b3-4197-90f4-e5876b9dd6f9?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Building Sustainability and Battling Climate Change</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/23f0566d-a231-4f28-9698-60e7931e4d46?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Consumer-Driven Demands on Next-Gen Tech</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">11:15-11:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/021147fe-4849-4f7d-9a98-a82cd55c84d0?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The Road to DIY Consumer Health</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:40-1:20pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/41862c75-9c66-4150-b4c8-d02963a39401?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">How Marketers are Embracing New Tech for Good</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:40-1:20pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/cbd36b23-c285-4a5e-b1fe-e54fe7bc71ee?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail’s New Look: Shopper's Little Helpers</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">4:00-4:30pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/3f9d0b0b-cfaf-4398-ad18-0c51d02321d1?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The Future of Contactless Shopping</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">4:45-5:15pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/c8d7b320-8712-4e25-8041-26ec6846e00b?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Thursday, January 14th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">IoT Tech Fuels Smarter Healthcare, Workplaces and Cars</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:00-11:00am CT US</p>
					<p class="color-onyx-80"><strong>Session II: Edge Compute in Health/Wellness</strong> - This session will discuss how IOT and edge computing will interact with wearables, implants, and ingestibles to evolve predictive healthcare and medication management.  </p>
					<p><a href="https://www.iotm2mcouncil.org/iot-library/event/imc-events/iot-infrastructure-ces-2021/" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<p class="mb-2">The list above is intended to offer a variety of content across the key themes that VMLY&R and VMLY&R COMMERCE are tracking at CES 2021. We recommend prioritizing 5-6 sessions that are most appealing to you.</p>
			<p class="mb-2">Follow and tag us this week at <strong>#VMLYRatCES</strong> where we will be posting our content and favorite sessions throughout the week.</p>
			</p>
		</div>
	</div>

  	



    
  </article>
{% endblock %}
