{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | CES 2021" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "VMLY&R @ CES 2021",
  	"titleAbove": "",
  	"titleBelow": "JANUARY 11-14, 2021",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/x-bold.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": []
  } %}
	<div id="takeaways" class="row row--gutter-wide-lg mx-0 px-1 py-3">
		<div class="col-12 pb-1">
		<h3 class="type-headlineSection mb-2">CES Key Takeaways</h3>
		</div>
		<div class="col-12 md:col-7 pb-2">
	  	<p class="mb-2">The Consumer Electronics Show is the largest technology trade show on the planet.  Every January, nearly 200k industry affiliates descend upon Las Vegas for a first-hand view of new technologies that will shape consumer experiences in the year ahead.  CES 2021 looked quite different.  Not only was the event held in a new all-digital format, but many of the conversations focused on a single topic, the global pandemic. </p>
		<p class="mb-2">Faced with a variety of challenges, innovation became necessary for survival for many businesses.  Additionally, an increased awareness of personal hygiene and contact with foreign surfaces led to increased desire for touch-free solutions.  New innovations from Alarm.com, Samsung, and Kohler are just a few exhibitors who debuted touch-free devices to meet growing demand.  Similarly, tracking personal health and fitness became top of mind for people around the world.  Talking with doctors over a zoom call required patients to track and measure their own health data.  Social distancing moved exercise and fitness routines from the local gym and into your home.  Wearables and other solutions used for health tracking, once perceived as “nice to have” are now necessary for a very large population. </p>
		<p class="mb-2">Perhaps one of the most anticipated technologies at CES 2021 is 5G wireless.  Verizon Wireless CEO, Hans Vestberg, delivered the opening Keynote for CES 2021 and he described how 5G will usher in a new era of innovation.  He described 5G as “an innovation platform that will make other innovations possible”, and “a platform for us to build the future that we want.”  With significantly higher speeds, and near real-time responsiveness, we will soon experience innovations such as remote controlled robotics that perform precise commands with zero delay.  Surgeons in China and Barcelona have already demonstrated remote surgerys over 5G connections.  Mobile edge computing will bring exciting new capabilities to event venues such as concert halls and sports stadiums.  5G will be the digital fabric connecting IoT devices, smart homes, smart cars and smart city infrastructure.  We have only just begun to see the possibilities of 5G!</p>
		<p class="mb-2">Digital Health has been a key component of CES for several years.  The ever-growing category of wearable devices has become a mainstay on the show floor.  Exhibits showcasing remote telehealth solutions have never been more relevant than now!  Impacts of a global pandemic were felt across the digital health ecosystem at CES 2021.  Increased awareness and desire to track personal health metrics fueled increased usage of wearables and health monitoring and tracking features available on our smartphones.  Additionally, the lack of access to doctors offices encouraged many patients to embrace telehealth services. In turn, telehealth drove patients to embrace wearables and tracking solutions at home.</p>
	  </div>
	  <div class="col-12 md:col-3 md:col-offset-1">
	  	<div class="pl-2" style="border-left: 3px solid #00aeef">
	  		<p class="uppercase mb-1 font-bold color-cyan">2020 Changed Us</p>
		  	<p class="color-onyx type-sm mb-2">CES 2021 for all intents and purposes, saw  future casting take a backseat in favor of reinforcing existing innovations that could be quickly adapted and applied to a world in the midst of a deadly pandemic. </p>
		  	<p class="color-onyx type-sm mb-2">We saw a lot of sessions reflecting on the efforts made in 2020 to remain nimble and drive business forward in immediate terms rather than looking towards the future. Fringe technologies like Home Automation and Blockchain were adopted more out of necessity to stay in business and serve a customer base largely confined to their homes. </p>
		  	<p class="color-onyx type-sm mb-2">This year was a game of inches, not miles and for our perspective it was a wonderful opportunity to strength core competencies around 5G connectivity and areas of interest like biometrics, privacy and security methods. </p>
	  	</div>
	  </div>
	</div>
	<div id="articles" class="row row--gutter-wide-lg mx-0 px-1 py-3 bg-onyx-10">
	  <div class="col-12 pb-1">
	  	<h3 class="type-headlineSection mb-2">WPP & VMLY&R TOPICS TO WATCH IN 2021</h3>
	  </div>		
		<dl class="faq__list">
			<div class="faq__row">
				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">COVID-19 (Health and Safety)</h5> 
					<p class="uppercase type-sm color-onyx-60">by Brian Yamada</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Brian Yamada",
					      "title": "Chief Innovation Officer",
					      "bio": "",
					      "picture": {
					        "altText": "Yamada",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  				<h5 class="uppercase color-purple-medium">COVID Technologies Designed to Help Us Breathe Easier</h5>
	  				<p class="my-1">With the first virtual CES, the impact of COVID-19 was clearly felt and seen. And while tech for masks and air purifiers aren't necessarily new to the show, there was certainly more of a focus on COVID-related health and purification solutions and a broad diversity types of technologies. </p>
	  				<p class="my-1">Featured items included tech to clean the things we have to touch.  And tech to clean and purify the air we breathe.  Within this new category of "Clean Tech", some of the more interesting included:</p>
	  				<p class="my-1">
	  					<ul>
	  						<li class="mb-2">LG CLOi UV-C is a robot on wheels, able to roam around a room and uses UVC light to zap harmful bacteria and viruses lingering on surfaces.</li>
							<li class="mb-2">CleanMotion has self-cleaning door handles, basically sensing when the door handle has been used, then using a disinfecting ring to automatically swipe disinfectant across the surface. </br><a href="https://cleanmotion.ch/en/home-en/" target="_blank">https://cleanmotion.ch/en/home-en/</a></li>
							<li class="mb-2">CES featured an array of mask tech such as the Xhale smart mask. Its filters and sensors allow you to breathe more naturally and comfortably, but do resemble Bane's facegear from The Dark Knight Rises.
							</br><a href="https://www.kickstarter.com/projects/xhale/xhale-forget-youre-wearing-a-mask" target="_blank">https://www.kickstarter.com/projects/xhale/xhale-forget-youre-wearing-a-mask</a></li>
							<li class="mb-2">BioButton is an innovation award winner at this year's CES. It's a coin sized sticker, powered by AI, that continuously monitors COVID symptoms through temperature, respiratory rate and heart rate.  And can also help with contact tracing should someone test positive.
							</br><a href="https://biointellisense.com" target="_blank">https://biointellisense.com</a></li>
	  					</ul>
	  				</p>
	  				<h5 class="uppercase color-purple-medium">IMPLICATIONS FOR MARKETERS </h5>
	  				<p class="my-1">Any brands and retailers dealing with physical locations have to consider the health and safety of its customers and employees.  Exploring some of these Clean Tech solutions can help increase customer comfort to drive up traffic (and sales) in COVID restrictive environments.  </p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Smart Homes </h5> 
					<p class="uppercase type-sm color-onyx-60">by Ian Cahill</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Ian Cahill",
					      "title": "Voice & Prototyping",
					      "bio": "",
					      "picture": {
					        "altText": "Cahill",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  					<h5 class="uppercase color-purple-medium">Smart Homes are Focusing on Health and Wellness</h5>
		  				<p class="my-1">We live in a connected world, Smart Assistants in the house, coupled with a myriad of IOT devices have paved the way for home automation on a scale never before seen.</p>
		  				<p class="my-1">Now we have arrived, so to speak, companies are taking a deeper look at how the smart home functions, how it shares data and where the experience can be improved for the well being of people that spend a majority of their time in the house. </p>
		  				<p class="my-1">Specifically CES 2021 saw an influx of touchless solutions to promote safety and health in a pandemic driven world. </p>
		  				<p class="my-1">
		  					<ul>
			  					<li class="mb-2">Alarm.com touchless doorbell
			  					</br><a href="https://www.cnet.com/news/alarm-com-touchless-video-doorbell-ces-2021-rings-itself-so-your-hands-stay-clean/ " target="_blank">https://www.cnet.com/news/alarm-com-touchless-video-doorbell-ces-2021-rings-itself-so-your-hands-stay-clean</a>
			  					</li>
			  					<li class="mb-2">Kohler Touchless Expansion
			  					</br><a href="https://www.prnewswire.com/news-releases/kohler-expands-smart-home-collection-at-ces-2021-emphasizes-wellbeing-and-touchless-experiences-for-kitchen-and-bath-301205012.html " target="_blank">https://www.prnewswire.com/news-releases/kohler-expands-smart-home-collection-at-ces-2021-emphasizes-wellbeing-and-touchless-experiences-for-kitchen-and-bath-301205012.html https://glissner.com/ </a>
			  					</li>
			  					<li class="mb-2">Glissner Phone Sanitizer
			  					</br><a href="https://glissner.com/ " target="_blank"> https://glissner.com</a>
			  					</li>
			  				</ul>
		  				</p>
		  				<h5 class="uppercase color-purple-medium">Implications</h5>
		  				<p class="my-1">As vaccines begin to roll out, there is still a period of uncertainty as individuals move from outside to the safety of their homes. As marketers, we must recognize this anxiety and provide messaging that puts health and safety at the forefront for products and services that are used at home or are delivered to the home. </p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Commerce</h5> 
					<p class="uppercase type-sm color-onyx-60">by Ian Cahill</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Ian Cahill",
					      "title": "Voice & Prototyping",
					      "bio": "",
					      "picture": {
					        "altText": "Cahill",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  					<h5 class="uppercase color-purple-medium">Our Transactional Future</h5>
		  				<p class="my-1">From a commerce perspective, 2020 saw a rise in technology levering the blockchain. Bitcoin experienced another halving and the global crypto-economy skyrocketed while traditional economies were left in the uncertainty of the pandemic. As companies scrambled to understand and adapt, there was a key focus on transactional communication through touchless payments with QRCodes and other token based digital payments. </p>
		  				<p class="my-1">
		  					<ul>
			  					<li class="mb-2">BayPay: Leveraging the Blockchain to make payments faster and more secure, <a href="https://baypay.com/" target="_blank"> https://baypay.com</a> wants to change the face of online peer to peer payments.
			  					</li>
			  					<li class="mb-2">MagicCube: Secure payments for touchless transactions 
			  					</br><a href="https://www.magiccube.co" target="_blank">https://www.magiccube.co</a>
			  					</li>
			  				</ul>
		  				</p>
		  				<h5 class="uppercase color-purple-medium">Implications</h5>
		  				<p class="my-1">Our clients added or reinforced payments systems inside of their mobile applications and websites. With a wider acceptance of e-commerce solutions, both consumers and clients are ready to take more risks to move into the future of payment.</p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Content</h5> 
					<p class="uppercase type-sm color-onyx-60">by Ian Cahill</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Ian Cahill",
					      "title": "Voice & Prototyping",
					      "bio": "",
					      "picture": {
					        "altText": "Cahill",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/os0c3056.jpg?itok=N066u-SI",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  					<h5 class="uppercase color-purple-medium">Consumption of Content is becoming more and more ubiquitous</h5>
		  				<p class="my-1">Transparency and communication were paramount in 2020 as humanity dealt with a series of life changing social and medical crises. Artificial Intelligence played a huge role in providing a sense of normalcy and this was evident at CES as well. </p>
		  				<p class="my-1">Brands are faced with delivering messaging around health and safety, but we saw a series of personalization initiatives come in the form of contact-tracing tools, virtual conference solutions and video streaming platform enhancements as well. </p>
		  				<p class="my-1">The pandemic also enhanced the spotlight on innovations for screens and other in-home products. Led by Samsung, advances in flexible screens, OLED TVs and home appliances were stressing a “better normal” at home.  </p>
		  				<p class="my-1">
		  					<ul>
			  					<li class="mb-2">LG Transparent TV: 
			  					</br><a href="https://www.cnet.com/news/lg-transparent-oled-tv-now-even-more-see-through-at-ces-2021" target="_blank">https://www.cnet.com/news/lg-transparent-oled-tv-now-even-more-see-through-at-ces-2021</a>
			  					</li>
			  					<li class="mb-2">Lenovo Smart Glasses: 
			  					</br><a href="https://www.lenovo.com/us/en/thinkrealitya3?clickid=Udf2wEx7VxyLRiPwUx0Mo3b1UkER1XXmU2xVxA0&irgwc=1&PID=1201867&acid=ww%3Aaffiliate%3Abv0as6" target="_blank">https://www.lenovo.com/us/en/thinkrealitya3?clickid=Udf2wEx7VxyLRiPwUx0Mo3b1UkER1XXmU2xVxA0&irgwc=1&PID=1201867&acid=ww%3Aaffiliate%3Abv0as6</a>
			  					</li>
			  					<li class="mb-2">TCL Rollable Screens: 
			  					</br><a href="https://www.theverge.com/2021/1/12/22225446/tcl-rollable-phone-extendable-display-concepts-ces2021" target="_blank">https://www.theverge.com/2021/1/12/22225446/tcl-rollable-phone-extendable-display-concepts-ces2021</a>
			  					</li>
			  				</ul>
		  				</p>
		  				<h5 class="uppercase color-purple-medium">Implications</h5>
		  				<p class="my-1">As more and more brands are looking for ways to communicate in a touchless environment, screen technologies are allowing businesses to place and bend content into places that were previously not possible. Windows and ceilings are fair game, as are mobile spaces like menus and shopping carts. As marketers we should examine how we communicate and interact with consumers in these new places.</p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Data/AI/Robotics</h5> 
					<p class="uppercase type-sm color-onyx-60">by Brian Yamada</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Brian Yamada",
					      "title": "Chief Innovation Officer",
					      "bio": "",
					      "picture": {
					        "altText": "Yamada",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  					<h5 class="uppercase color-purple-medium">Advanced sensors and AI are moving robots from back-office to front and center</h5>
		  				<p class="my-1">It's been a hundred years since the term "robot" was initially coined -- actually in a play that set the precedent for films such as the Terminator and the Matrix.</p>
		  				<p class="my-1">Robotics began as simple, functional repetitive programmable tasks. It's been fifty years since GM installed the first industrial robot into a production line with the "Unimate".</p>
		  				<p class="my-1">Today’s mix of technologies -- from LiDAR to cameras and sensors to detect the environment around it, and improved connectivity of 5G and WIFI6E to quickly process, understand, and enable actions based upon context. Computer vision-based visual cues or sensors can alert and trigger the appropriate action or activity. CES 2021 illustrated how far robotic tech has come:</p>
		  				<p class="my-1">
		  					<ul>
			  					<li class="mb-2">Starting small, the Samsung JetBot 90 AI is one of the latest home vacuum robots. This small device is packed with similar technologies that are powering autonomous vehicles -- such as LiDAR, 3D sensors and powerful image recognition and AI to "take the work out of housework". 
			  					</br><a href="https://news.samsung.com/us/samsungs-jetbot-90-ai-reimagines-cleaning-ces-2021/" target="_blank">https://news.samsung.com/us/samsungs-jetbot-90-ai-reimagines-cleaning-ces-2021/</a>
			  					</li>
			  					<li class="mb-2">While the JetBot is available later this year, Samsung also introduced the Bot Care and Bot Handy as glimpses to the future. The Bot Care is designed to monitor, recognize and understand your behaviors -- so can remind you to get up and stretch if you've been working too long. Bot Handy is a one-armed robot for your home that's capable of bringing you a glass of wine, loading the dishwasher and setting the table.
			  					</br><a href="https://www.youtube.com/watch?v=3H6g19EhXQQ" target="_blank">https://www.youtube.com/watch?v=3H6g19EhXQQ</a>
			  					</li>
			  					<li class="mb-2">Other robots are designed to help with your mental health -- such as Moflin. It's a small, furry robotic guinea pig that simulates a pet's love. It is supposed to be smart enough to recognize different people interacting with it and respond with a range of sounds and movements to reflect a range of emotional states. Available for preorder on Kickstarter for around $400. 
			  					</br><a href="https://www.kickstarter.com/projects/vanguardindustries/moflin-an-ai-pet-robot-with-emotional-capabilities" target="_blank">https://www.kickstarter.com/projects/vanguardindustries/moflin-an-ai-pet-robot-with-emotional-capabilities</a>
			  					</li>
			  					<li class="mb-2">The GoSleep bedside robot system is a bedside robot designed to monitor your sleep patterns and based upon the fact that CO2 gas makes you drowsy -- will release a small amount of CO2 gas to help you sleep well. For those of you freaked out by the Terminator and Matrix, a bedside robot equipped with gas to keep you sleeping might just give you nightmares.
			  					</br><a href="http://gosleep-rn.makehomes.co.kr" target="_blank">http://gosleep-rn.makehomes.co.kr</a>
			  					</li>
			  				</ul>
		  				</p>
		  				<h5 class="uppercase color-purple-medium">Implications</h5>
		  				<p class="my-1">Are there places -- especially in our current pandemic related environment -- that human contact is actually not preferred? Could UV air sanitation robots moving through a restaurant make people more comfortable and feel more at ease? (see LG's UV-C disinfecting robot or ADIBOT from UBTECH from CES.) How might robotics with distribution and delivery to get products or meals to our audiences in in safer, non-contact ways? Where might robotics be applied to improve human comfort and ease? Could robots help to create differentiation In 2021, we'll start to see robots moving from back-of-house operations to more front-of-house consumer interactions, and potentially some advertising and PR-worthy use cases. </p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}

				{% embed "_components/accordion.html" with { "contentColor": 'color-blue bg-white' } %}
				{% block label %}
				<div class="col-12">
					<h5 class="uppercase font-bold">Sustainability</h5> 
					<p class="uppercase type-sm color-onyx-60">by Brian Yamada</p>
				</div>
				{% endblock %}
				{% block content %}
				<div class="row row--gutter-wide-lg">
	  				<div class="col-12 md:col-2">
						{% include "_components/team.html" with {
					      "name": "Brian Yamada",
					      "title": "Chief Innovation Officer",
					      "bio": "",
					      "picture": {
					        "altText": "Yamada",
					        "srcPath": "https://passport.vmlyr.com/sites/default/files/styles/large/public/user-photo/brian_yamada_2.jpg?itok=eOi_Lm2n",
					        "placeholderSize": "500 330"
					      }
					    } %}
	  				</div>
	  				<div class="col-12 md:col-10">
	  					<h5 class="uppercase color-purple-medium">Sustainability - tech is making it easier to make an impact</h5>
		  				<p class="my-1">There's a certain irony about the sustainability at CES. The conference is known for bigger, better, crisper TV and the endless array of new technologies new devices that drive consumerism and increase our daily energy consumption levels. Nevertheless, sustainability was a key topic at CES this year. </p>
		  				<p class="my-1">Some companies, like GM, made it a central part of their platform.  Their entire CES presence focused on their Exhibit Zero platform -- targeting zero crashes, zero emissions and zero congestion -- in a vision of tomorrow powered by electric and autonomous vehicles.
		  				</br><a href="https://www.youtube.com/watch?v=9ms6PZWxkAk&list=PL5UWrgmuniqKDaW0L_3VxH0V9s__-c3GL&index=2" target="_blank">https://www.youtube.com/watch?v=9ms6PZWxkAk&list=PL5UWrgmuniqKDaW0L_3VxH0V9s__-c3GL&index=2</a>
		  				</p>
		  				<p class="my-1">Other companies such as Samsung, displayed their sustainability upcycling programs. Some were interesting -- such as their Samsung Galaxy Upcycling at Home program -- which takes old Galaxy phones and puts them to use in practical new ways, such as baby monitors using audio sensors to detect crying and alert parents. <a href="https://www.youtube.com/watch?v=m9AL266C0lc" target="_blank"> https://www.youtube.com/watch?v=m9AL266C0lc</a> Samsung also continued and expanded their Ecopackaging for TVs. Which sounds interesting, but is basically cutting the cardboard boxes and shaping them into small end tables or smartphone scanner stands or event a cat house. (Note - we'd pitched a toy client in the past a similar, but more appropriate upcycling use case to turn their boxes into play shapes to fuel children's imagination...) (https://www.samsung-ecopackage.com/)</p>
		  				<p class="my-1">Some other interesting sustainability-focused technologies at this year's show included: </p>
		  				<p class="my-1">
		  					<ul>
			  					<li class="mb-2">Shower Power - a bluetooth speaker connects to your shower head to intercept the waterflow to power a small hydroelectric generator so you can listen to music or news, powered by hydropower. It won a CES Innovation Award and is of course even made of recycled material. 
			  					</br><a href="https://www.kickstarter.com/projects/ampere/shower-power-waterproof-bluetooth-speaker-hydropower" target="_blank">https://www.kickstarter.com/projects/ampere/shower-power-waterproof-bluetooth-speaker-hydropower</a>
			  					</li>
			  					<li class="mb-2"> Hydroloop -- collects, cleans and re-uses the water to use again. So turns what would normally go down the drain into clean, clear, safe, disinfected water to greatly reduce water consumption. They introduced two new products -- the Hydroloop 600 and Hydroloop Cascade -- essentially larger versions of their solutions for larger families and enterprise/business use. 
			  					</br><a href="https://www.hydraloop.com" target="_blank">https://www.hydraloop.com</a>
			  					</li>
			  					<li class="mb-2">Lasso looks to change the power of recycling to your home with an in-home recycling unit that senses/identifies if the object can be recycled, washes to prevent contamination, grinds for compact storage and monthly collection.
			  					</br><a href="https://www.lassoloop.com/about-lasso" target="_blank">https://www.lassoloop.com/about-lasso</a>
			  					</li>
			  					<li class="mb-2">Schneider Electric also introduced its Square D Energy Center. As our homes get smarter - it means more and more devices, and thus more pull on energy. The Energy Center tracks all of the utilization levels and can adjust as needed. And can improve resiliency through different sources - utility, solar, stored (battery), smart generators.
			  					</li>
			  				</ul>
		  				</p>
		  				<h5 class="uppercase color-purple-medium">Implications</h5>
		  				<p class="my-1">Many of our clients are looking to evolve their sustainability programs. Some brands could consider ways to modify how they package and sell, especially. Or create their own upcycling programs. Or look for ways to involve their audiences, customers and partners to play a part in reducing consumption or increase recycling and reuse. </p>
	  				</div>
	  			</div>
				{% endblock %}
				{% endembed %}
			</div>
		</dl>
	</div>
	<div id="products" class="row row--gutter-wide-lg mx-0 px-1 py-3 bg-blue color-white">
		<div class="col-12 pb-2">
			<h3 class="type-headlineSection mb-2">CES EXHIBITS AND INNOVATIVE PRODUCTS</h3>
		</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
			  	{% include "_components/silo.html" with {
				  "title": "LG",
				  "text": "LG Introduced new innovation into the stagnant smartphone category.  Using flexible screen technology, new smartphones will soon have the ability to roll up into a smaller form factor.  LG plans to launch the first rollable screen smartphone in 2021.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.cnet.com/news/the-lg-rollable-phone-with-expandable-display-is-real-and-coming-in-2021/",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
			</div>
			<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Vuzix",
				  "text": "Vuzix is blending style and function with next generation augmented reality glasses.  These glasses look like normal reading glasses, while offering information updates and data overlays by projecting onto the lens.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.vuzix.com/Blog/Vuzix-Next-Gen-Smart-Glasses-CES-2021-CES-Winner",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Pollen Robotics",
				  "text": "Pollen Robotics introduces robots controlled by humans in a VR experience.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.linkedin.com/company/pollen-robotics/",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Razer",
				  "text": "Razer, known for competitive gaming accessories, has created a visionary N95 face shield with active ventilation and transparent shield.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.ign.com/articles/razer-unveils-rgb-face-mask-and-immersive-gaming-chair-concepts?sf136001396=1",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Arlo",
				  "text": "Arlo won awards for a new indoor camera and a touchless video doorbell.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.prnewswire.com/news-releases/arlo-earns-two-2021-ces-innovation-award-honoree-distinctions-highlighted-by-recognition-for-the-arlo-essential-indoor-camera-with-built-in-privacy-shield-301203655.html",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Skyward",
				  "text": "Skyward, Verizon and UPS are collaborating on services to enable drone deliveries.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.linkedin.com/feed/update/urn:li:activity:6754575458093953024/?updateEntityUrn=urn%3Ali%3Afs_feedUpdate%3A%28V2%2Curn%3Ali%3Aactivity%3A6754575458093953024%29",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "L’Oreal",
				  "text": "L’Oreal and YSL created a machine that creates lipstick in custom colors on demand.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.theverge.com/2021/1/11/22218777/ysl-beaute-rouge-sur-mesure-perso-ces-gadget-2021",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Infinity Game Table",
				  "text": "The Infinity Game table brings a digital format to traditional board games.  Partnering with Hasbro will bring familiar games such as Sorry! and Monopoly to this innovative gaming table.  WIFI connectivity allows for remote gaming with distant friends & family.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.cnet.com/news/infinity-game-table-hands-on-touch-screen-table-gives-classic-board-games-new-spin/",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Themis",
				  "text": "In the world of smart homes comes, Themis is the new CareOS small, connected mirror that acts as a personal wellness assistant. It leverages AI to gauge health and stress levels.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.digitaltrends.com/health-fitness/themis-smart-mirror-analyzes-skin-stress-ces-2021/",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Kohler",
				  "text": "Kohler showcased a touchless toilet handle.",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.thestar.com/life/homes/2021/01/21/impressive-robots-tvs-and-touchless-tech-were-debuted-at-this-months-annual-consumer-electronics-show-ironically-the-pandemic-made-it-a-completely-digital-event.html",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "Samsung",
				  "text": "Samsung Smart Trainer integrated into Samsung Health.  Add a webcam to your Samsung television and your workouts are tracked and critiqued by a personal trainer. ",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.pcmag.com/news/samsung-takes-on-apple-fitness-plus-with-new-smart-trainer-feature",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
		  	<div class="col-12 sm:col-6 md:col-4 lg:col-3">
				{% include "_components/silo.html" with {
				  "title": "UBTech",
				  "text": "UBTech has developed a roving robot that sterilizes an environment with UV light. ",
				  "bgImg": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/chevrons-top.jpg",
				  "url": "https://www.businesswire.com/news/home/20210111005230/en/UBTECH-Showcases-New-UV-C-Robots-at-CES-2021",
				  "linkText": "Learn More",
				  "icons": {
				    "name": "external",
				    "color": "cyan",
				    "size": "xs"
				  }
				} %}
		  	</div>
	</div>
	<div id="globalCapabilties" class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-7 pb-2">
	  	<h3 class="type-headlineSection mb-2">CES 2021 OVERVIEW</h3>
	  	<p class="mb-2"><strong>Dates:</strong> January 11-14, 2021</br><strong>Location:</strong> On-line</p>
	  	<p>Welcome to 2021! The beginning of each new year typically means it's time to prepare for the annual Consumer Electronics Show in Las Vegas. The CES show offers a glimpse at new tech and services that will play a role in consumer behavior in the year ahead. Product manufactures and industry affiliates from around the world meet, share and collaborate during this key industry event. This year, rather than hosting nearly 250k attendees in Las Vegas during a global pandemic, the CTA has coordinated the first ever fully digital CES event. </p>
	  </div>
	  <div class="col-12 md:col-4 md:col-offset-1">
	  	<p class="uppercase mb-1 font-bold">KEY TOPICS TO FOLLOW</p>
	  	<p class="color-onyx mb-1">To help navigate the numerous topics and sessions at CES, VMLY&R has curated a list of five major themes that we will be following:</p>
	  	<ul class="pl-2 type-s color-onyx">
	  		<li>Commerce</li>
	  		<li>Data</li>
	  		<li>Content</li>
	  		<li>Healthcare</li>
	  		<li>Sustainability</li>
	  	</ul>
	  </div>
	</div>
	<div id="agenda" class="row row--gutter-wide-lg mx-0 px-1 py-2">
		 <div class="col-12">
			<h3 class="type-headlineSection mb-2">AGENDA</h3>
			<p class="mb-3">The CES 2021 agenda offers a wealth of opportunity to hear from industry leaders on these topics. Below is a list of recommended conference sessions. Fortunately, most of these events are programmed into 30- minute blocks. CES announced the programming will be available for 30 days after the event. This offers an opportunity to revisit interesting sessions and to watch at times that are most convenient for our own schedules. Here are some of our recommended picks below.</p>
			<h5 class="type-headlineSection my-2">Monday, January 11th, 2021</h5>
			<div class="row">
			<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
				<p class="uppercase font-bold color-cyan">Verizon Keynote</p>
				<hr class="hr__dashed my-1" />
				<p class="type-meta mb-1">5:30-6:30pm CST US</p>
				<!-- <p class="color-onyx-80">Verizon Chairman & CEO Hans Vestberg opens CES 2021 discussing 5G technology, and it’s role in the 21st century.</p> -->
				<p><a href="https://digital.ces.tech/sessions/e643a52d-bda6-491c-9ba4-be25dd228c47?source=sessions" class="type-sm color-blue-light">Read More</a></p>
			</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Tuesday, January 12th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The 2021 Customer Engagement Playbook</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">6:30-7:00am CST US</p>
					<!-- <p class="color-onyx-80">2021 welcomes a host of tech advances and new restrictions. Hear from savvy players on how they are drawing customer engagement playbooks for 2021.</p> -->
					<p><a href="https://digital.ces.tech/sessions/1059f4a5-8a8e-4f96-b4ae-e85eb57b650e?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail Trends: The New Shopper</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/465107e5-f403-4f1c-9752-9ac470e996ef?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Trust and the Impact of AI on Healthcare</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Experts explore the broad impact of trust on the growth and acceptance of AI in healthcare and discuss what must be considered to realize the promise of AI.</p> -->
					<p><a href="https://digital.ces.tech/sessions/2bac6d54-db8a-4cc9-8124-745b3badf5ce?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Keys to Success: How D&I Helped Us Survive 2020</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<!-- <p class="color-onyx-80">Hear from top tech chief diversity officers on how diversity and inclusion is solidifying a role as an essential tool in creating innovative solutions for key business challenges.</p> -->
					<p><a href="https://digital.ces.tech/sessions/bf1745f5-d0fb-4e86-a2e0-35fef83f7331?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Essential Technologies for the New Health Revolution</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CST US</p>
					<!-- <p class="color-onyx-80">Join us for a provocative discussion on telemedicine’s rapid growth, how it handled the challenges it was confronted with, what we’ve learned so far, and what the future trajectory of the industry looks like.</p> -->
					<p><a href="https://digital.ces.tech/sessions/ef3e1d61-9fe0-4974-b33d-1f8266aa093f" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Telemedicine Skyrockets to Mainstream</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:45-1:15pm CST US</p>
					<!-- <p class="color-onyx-80">Join us for a provocative discussion on telemedicine’s rapid growth, how it handled the challenges it was confronted with, what we’ve learned so far, and what the future trajectory of the industry looks like.</p> -->
					<p><a href="https://digital.ces.tech/sessions/dc9ada30-6185-4053-b17e-90bad0f68d96?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Wednesday, January 13th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">CMO Moves</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CT US</p>
					<!-- <p class="color-onyx-80">2021 welcomes a host of tech advances and new restrictions. Hear from savvy players on how they are drawing customer engagement playbooks for 2021.</p> -->
					<p><a href="https://digital.ces.tech/sessions/17d42df3-9195-4fe8-9935-8da61013c50e?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Digital Health: Business Growth and Opportunities</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">7:15-7:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/29cec86f-a381-47fe-abb2-12434e249cac?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Can Technology Answer the Call of Societal Ethos</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">7:15-7:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="7:15-7:45am CT" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Next-gen Technologies to Transform Healthcare</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">8:45-9:15am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/61dfa241-89b3-4197-90f4-e5876b9dd6f9?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Building Sustainability and Battling Climate Change</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:30-11:00am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/23f0566d-a231-4f28-9698-60e7931e4d46?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Consumer-Driven Demands on Next-Gen Tech</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">11:15-11:45am CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/021147fe-4849-4f7d-9a98-a82cd55c84d0?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The Road to DIY Consumer Health</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:40-1:20pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/41862c75-9c66-4150-b4c8-d02963a39401?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">How Marketers are Embracing New Tech for Good</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:40-1:20pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/cbd36b23-c285-4a5e-b1fe-e54fe7bc71ee?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail’s New Look: Shopper's Little Helpers</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">4:00-4:30pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/3f9d0b0b-cfaf-4398-ad18-0c51d02321d1?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The Future of Contactless Shopping</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">4:45-5:15pm CT US</p>
					<!-- <p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p> -->
					<p><a href="https://digital.ces.tech/sessions/c8d7b320-8712-4e25-8041-26ec6846e00b?source=sessions" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Thursday, January 14th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">IoT Tech Fuels Smarter Healthcare, Workplaces and Cars</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">10:00-11:00am CT US</p>
					<p class="color-onyx-80"><strong>Session II: Edge Compute in Health/Wellness</strong> - This session will discuss how IOT and edge computing will interact with wearables, implants, and ingestibles to evolve predictive healthcare and medication management.  </p>
					<p><a href="https://www.iotm2mcouncil.org/iot-library/event/imc-events/iot-infrastructure-ces-2021/" class="type-sm color-blue-light">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<p class="mb-2">The list above is intended to offer a variety of content across the key themes that VMLY&R and VMLY&R COMMERCE are tracking at CES 2021. We recommend prioritizing 5-6 sessions that are most appealing to you.</p>
			<p class="mb-2">Follow and tag us this week at <strong>#VMLYRatCES</strong> where we will be posting our content and favorite sessions throughout the week.</p>
			</p>
		</div>
	</div>

  	



    
  </article>
{% endblock %}
