{#
  Twig Templating!
  Homepage: https://twig.symfony.com/
  Docs: https://twig.symfony.com/doc
#}

{% extends '_layouts/page.html' %}
{% set noHeader = false %}
{% set menuOnly = false %}
{% set menuInlineText = false %}
{% set noMenu = true %}
{% set noLogo = false %}
{% set recognition = true %}
{% set headerMenu = global.menu.mobility %}
{% set headerLogo = 'logo.png' %}
{% set title = "VMLY&R | CES 2021" %}

{% block content %}
  <article class="landing-home" id="top">
  	{% include "_components/intro.html" with {
  	"title": "VMLY&R @ CES 2021",
  	"titleAbove": "",
  	"titleBelow": "JANUARY 11-14, 2020",
  	"bgFileName": "https://vmlyr-projects.s3.us-east-2.amazonaws.com/style-guide-template-site/images/hero/x-bold.jpg",
  	"classes": "vg-4 color-white",
  	"buttons": []
  } %}
  	<div id="globalCapabilties" class="row row--gutter-wide-lg mx-0 px-1 py-3">
	  <div class="col-12 md:col-7 pb-2">
	  	<h3 class="type-headlineSection mb-2">CES 2021 OVERVIEW</h3>
	  	<p class="mb-2"><strong>Dates:</strong> January 11-14, 2021</br><strong>Location:</strong> On-line</p>
	  	<p>For the first time in it’s 53 year history, the annual Consumer Electronics Show (CES) will be held in a virtual environment. While hands-on product demonstrations and face-to-face meetings will not be happening, attendees will enjoy the easy access keynotes, break-out sessions and other cant-miss virtual events!</p>
	  </div>
	  <div class="col-12 md:col-4 md:col-offset-1">
	  	<p class="uppercase mb-1 font-bold">KEY TOPICS TO FOLLOW</p>
	  	<ul class="pl-2 type-s color-onyx">
	  		<li>Commerce</li>
	  		<li>Data</li>
	  		<li>Content</li>
	  		<li>Healthcare</li>
	  		<li>Sustainability</li>
	  	</ul>
	  </div>
	</div>
	<div id="agenda" class="row row--gutter-wide-lg mx-0 px-1 py-3">
		 <div class="col-12">
			<h5 class="type-headlineSection my-2">Monday, January 11th, 2021</h5>
			<div class="row">
			<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
				<p class="uppercase font-bold color-cyan">Verizon Keynote</p>
				<hr class="hr__dashed my-1" />
				<p class="type-meta mb-1">5:30-6:30pm CST US</p>
				<p class="color-onyx-80">Verizon Chairman & CEO Hans Vestberg opens CES 2021 discussing 5G technology, and it’s role in the 21st century.</p>
				<p><a href="https://digital.ces.tech/sessions/e643a52d-bda6-491c-9ba4-be25dd228c47?source=sessions" class="type-sm">Read More</a></p>
			</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Tuesday, January 12th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The 2021 Customer Engagement Playbook</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">6:30-7:00am CST US</p>
					<p class="color-onyx-80">2021 welcomes a host of tech advances and new restricZons. Hear from savvy players on how they are dra[ing customer engagement playbooks for 2021.</p>
					<p><a href="https://digital.ces.tech/sessions/1059f4a5-8a8e-4f96-b4ae-e85eb57b650e?source=sessions" class="type-sm">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail Trends: The New Shopper</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p>
					<p><a href="https://digital.ces.tech/sessions/465107e5-f403-4f1c-9752-9ac470e996ef?source=sessions" class="type-sm">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Trust and the Impact of AI on Healthcare</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<p class="color-onyx-80">Experts explore the broad impact of trust on the growth and acceptance of AI in healthcare and discuss what must be considered to realize the promise of AI.</p>
					<p><a href="https://digital.ces.tech/sessions/2bac6d54-db8a-4cc9-8124-745b3badf5ce?source=sessions" class="type-sm">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Keys to Success: How D&I Helped Us Survive 2020</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<p class="color-onyx-80">Hear from top tech chief diversity officers on how diversity and inclusion is solidifying a role as an essenZal tool in creaZng innovaZve soluZons for key business challenges.</p>
					<p><a href="https://digital.ces.tech/sessions/bf1745f5-d0fb-4e86-a2e0-35fef83f7331?source=sessions" class="type-sm">Read More</a></p>
				</div>
				<div class="col-12 sm:col-12 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Telemedicine Skyrockets to Mainstream</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">12:45-1:15pm CST US</p>
					<p class="color-onyx-80">Join us for a provocaZve discussion on telemedicine’s rapid growth, how it handled the challenges it was confronted with, what we’ve learned so far, and what the future trajectory of the industry looks like.</p>
					<p><a href="https://digital.ces.tech/sessions/dc9ada30-6185-4053-b17e-90bad0f68d96?source=sessions" class="type-sm">Read More</a></p>
				</div>
			</div>
		</div>
		<div class="col-12">
			<h5 class="type-headlineSection my-2">Wednesday, January 13th, 2021</h5>
			<div class="row">
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">The 2021 Customer Engagement Playbook</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">6:30-7:00am CST US</p>
					<p class="color-onyx-80">2021 welcomes a host of tech advances and new restricZons. Hear from savvy players on how they are dra[ing customer engagement playbooks for 2021.</p>
					<p><a href="https://digital.ces.tech/sessions/1059f4a5-8a8e-4f96-b4ae-e85eb57b650e?source=sessions" class="type-sm">Read More</a></p>
				</div>
				<div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-2 px-2">
					<p class="uppercase font-bold color-cyan">Retail Trends: The New Shopper</p>
					<hr class="hr__dashed my-1" />
					<p class="type-meta mb-1">9:15-9:45am CST US</p>
					<p class="color-onyx-80">Retail transformed in 2020. What will carry over to 2021, and what are the latest trends in consumer behavior.</p>
					<p><a href="https://digital.ces.tech/sessions/465107e5-f403-4f1c-9752-9ac470e996ef?source=sessions" class="type-sm">Read More</a></p>
				</div>
			</div>
		</div>
	</div>

  	



    
  </article>
{% endblock %}
